{% extends "blankworkspace-ml.html" %}

{% block mapred1 %}

{% load staticfiles %}

<div class="jumbotron" id='my-div' style='background-color: white;width: 1100px;'> 
<div class="container">
<div class="row" style="text-align: center">	
			<h1><a class="btn btn-primary btn-md btn-block" href="/mlpage5/" role="button"><h1>Predictive Model</h1></a></h1>		     
			<br>
			<h1><a class="btn btn-primary btn-md btn-block" href="#" role="button"><h1>Supervised Classification Model</h1></a></h1>		     	
			<br>
			<h1><a class="btn btn-primary btn-md btn-block" href="#" role="button"><h1>Unsupervised Classification Model</h1></a></h1>		
</div>
</div>
</div>

{% endblock %}
